@page
@model Sundaland.Pages.PurchaseCompletedModel
@{
}

<header class="masthead-cart">
    <div class="container">
        <div class="masthead-cart-heading">THANK YOU</div>
        <div class="masthead-cart-subheading">Your purchase has been made.</div>
    </div>
</header>
<div class="row m-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Booklist">Continue Shopping</a>
    </div>
</div>