@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row p-4 d-grid">
        <div class="col-3 pb-3 pt-3">
            <NavLink class="btn btn-outline-primary" href="/admin/books" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn btn-outline-primary" href="/admin/purchases" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Purchases</NavLink>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>