@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Sundaland</div>
        <div class="masthead-heading text-uppercase">Bookstore</div>
        <a class="btn btn-primary btn-xl text-uppercase" asp-controller="Home" asp-action="Booklist">Book List</a>
    </div>
</header>